<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    　　<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    　　<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <table width="100%">
        <tr>
            <td style="width: 100%;">
                <center>
                    <table class="content-wrap" style="margin:  0 auto; width: 600px;">
                        <tr>
                            <td
                                    style="margin:  0 auto; overflow: hidden; padding:  0; border:  0 dotted rgb(238, 238, 238);">
                                <!---->
                                <div class="full" tindex="1" style="margin:  0 auto; max-width: 600px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullTable"
                                           style="width: 600px;">
                                        <tbody>
                                        <tr>
                                            <td class="fullTd"
                                                style="direction: ltr; width: 600px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top; background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                       style="vertical-align: top;">
                                                    <tr>
                                                        <td align="left" style="font-size:  0; padding:  0 20px;">
                                                            <div class="text"
                                                                 style="font-family: 微软雅黑, 'Microsoft YaHei'; overflow-wrap: break-word; margin:  0; text-align: center; line-height: 12px; color: rgb(51, 51, 51); font-size: 14px; font-weight: normal;">
                                                                <div>
                                                                    {{.Subject}}
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="full" tindex="2" style="margin:  0 auto; max-width: 600px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullTable"
                                           style="width: 600px;">
                                        <tbody>
                                        <tr>
                                            <td align="center" vertical-align="middle"
                                                style="font-size:  0; word-break: break-word; width: 600px; padding: 15px 20px; background-size: 100px; background-position: 10% 50%; background-repeat: no-repeat;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                       style="border-collapse: separate; line-height: 1;">
                                                    <tr>
                                                        <td align="center" valign="middle"
                                                            style="line-height: 1; background-color: rgb(165, 0, 3); padding: 10px 30px; border-radius: 5px; border-width: 1px; border-color: transparent; border-style: solid;">
                                                            <a target="_blank" href="{{.Link}}"
                                                               style="font-size:  0; text-decoration: none;">
                                                                <p style="font-family: 微软雅黑, 'Microsoft YaHei'; margin:  0; color: rgb(255, 255, 255); line-height: 1; font-size: 20px; font-weight: normal; text-decoration: none; text-transform: none;">
                                                                    <span>Goto&nbsp;Detail</span>
                                                                </p>
                                                            </a></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div tindex="3" style="margin:  0 auto; max-width: 600px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                           style="background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-size: 100px; background-position: 1% 50%;">
                                        <tbody>
                                        <tr>
                                            <td
                                                    style="direction: ltr; font-size:  0; text-align: center; vertical-align: top; width: 600px;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                       style="vertical-align: top;">
                                                    <tbody>
                                                    <tr>
                                                        <td class="threeColumn column1"
                                                            style="width: 100%; max-width: 100%; min-height: 1px; font-size: 13px; text-align: left; direction: ltr; vertical-align: top; padding:  0;">
                                                            <div class="full"
                                                                 style="margin:  0 auto; max-width: 600px;">
                                                                <table align="center" border="0" cellpadding="0"
                                                                       cellspacing="0" class="fullTable"
                                                                       style="width: 600px;">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="fullTd"
                                                                            style="direction: ltr; width: 600px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top; background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                                            <table border="0" cellpadding="0"
                                                                                   cellspacing="0" width="100%"
                                                                                   style="vertical-align: top;">
                                                                                <tr>
                                                                                    <td align="left"
                                                                                        style="font-size:  0; padding: 10px 20px;">
                                                                                        <div class="text"
                                                                                             style="font-family: 微软雅黑, 'Microsoft YaHei'; overflow-wrap: break-word; margin:  0; text-align: left; line-height: 15px; color: rgb(0, 0, 0); font-size: 16px; font-weight: normal;">
                                                                                            <div>
                                                                                                <p
                                                                                                        style="text-size-adjust: none; word-break: break-word; line-height: 15px; font-size: 16px; margin:  0;">
                                                                                                    <strong
                                                                                                            style="color: #222222;">Proposal
                                                                                                        Summary&nbsp; &nbsp; &nbsp; Status: </strong><strong style="">
                                                                                                        {{if eq .State "closed"}}
                                                                                                            <font color="#6f42c1">{{.State}}</font>
                                                                                                        {{else if eq .State "active"}}
                                                                                                            <font color="#21b66f">{{.State}}</font>
                                                                                                        {{else}}
                                                                                                            <font color="#ff0000">{{.State}}</font>
                                                                                                        {{end}}
                                                                                                       </strong>
                                                                                                </p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div tindex="4" style="margin:  0 auto; max-width: 600px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0"
                                           style="background-color: rgb(255, 255, 255); background-repeat: no-repeat; background-size: 100px; background-position: 1% 50%;">
                                        <tbody>
                                        <tr>
                                            <td
                                                    style="direction: ltr; font-size:  0; text-align: center; vertical-align: top; width: 600px;">
                                                <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                                       style="vertical-align: top;">
                                                    <tbody>
                                                    <tr>
                                                        <td class="twoColumn column1"
                                                            style="width: 50%; max-width: 50%; min-height: 1px; font-size: 13px; text-align: left; direction: ltr; vertical-align: top; padding:  0;">
                                                            <div columnnumber="2">
                                                                <table align="center" border="0" cellpadding="0"
                                                                       cellspacing="0" style="width: 100%;">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td
                                                                                style="direction: ltr; font-size:  0; text-align: center; vertical-align: top; border:  0;">
                                                                            <div class="mj-column-per-20"
                                                                                 style="width: 100%; max-width: 100%; font-size: 13px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                                                                                <table border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0" width="100%"
                                                                                       style="border-collapse: collapse; border-spacing:  0; width: 100%; vertical-align: top;">
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            border="0"
                                                                                            style="font-size:  0; word-break: break-word;">
                                                                                            <div class="full"
                                                                                                 style="margin:  0 auto; max-width: 600px;">
                                                                                                <table
                                                                                                        align="center"
                                                                                                        border="0"
                                                                                                        cellpadding="0"
                                                                                                        cellspacing="0"
                                                                                                        class="fullTable"
                                                                                                        style="width: 300px;">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td class="fullTd"
                                                                                                            style="direction: ltr; width: 300px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top; background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                                                                            <table
                                                                                                                    border="0"
                                                                                                                    cellpadding="0"
                                                                                                                    cellspacing="0"
                                                                                                                    width="100%"
                                                                                                                    style="vertical-align: top;">
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="font-size:  0; padding: 10px 20px;">
                                                                                                                        <div class="text"
                                                                                                                             style="font-family: 微软雅黑, 'Microsoft YaHei'; overflow-wrap: break-word; margin:  0; text-align: left; line-height: 20px; color: rgb(0, 0, 0); font-size: 15px; font-weight: normal;">
                                                                                                                            <div>
                                                                                                                                <p
                                                                                                                                        style="text-size-adjust: none; word-break: break-word; line-height: 20px; font-size: 15px; margin:  0;">
                                                                                                                                    <strong
                                                                                                                                            style="color: #222222;">BASIC
                                                                                                                                        INFO:</strong>
                                                                                                                                </p>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                            <div class="mj-column-per-20"
                                                                                 style="width: 100%; max-width: 100%; font-size: 13px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                                                                                <table border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0" width="100%"
                                                                                       style="border-collapse: collapse; border-spacing:  0; width: 100%; vertical-align: top;">
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            border="0"
                                                                                            style="font-size:  0; word-break: break-word;">
                                                                                            <div class="full"
                                                                                                 style="margin:  0 auto; max-width: 600px;">
                                                                                                <table
                                                                                                        align="center"
                                                                                                        border="0"
                                                                                                        cellpadding="0"
                                                                                                        cellspacing="0"
                                                                                                        class="fullTable"
                                                                                                        style="width: 300px;">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td class="fullTd"
                                                                                                            style="direction: ltr; width: 300px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top; background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                                                                            <table
                                                                                                                    border="0"
                                                                                                                    cellpadding="0"
                                                                                                                    cellspacing="0"
                                                                                                                    width="100%"
                                                                                                                    style="vertical-align: top;">
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="font-size:  0; padding: 10px 20px;">
                                                                                                                        <div class="text"
                                                                                                                             style="font-family: 微软雅黑, 'Microsoft YaHei'; overflow-wrap: break-word; margin:  0; text-align: left; line-height: 20px; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal;">
                                                                                                                            <div>
                                                                                                                                <p style="text-size-adjust: none; word-break: break-word; line-height: 20px; font-size: 14px; margin:  0;">
                                                                                                                                    <span style="color: #222222;">Voting System: {{.Type}}</span>
                                                                                                                                </p>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                            <div class="mj-column-per-20"
                                                                                 style="width: 100%; max-width: 100%; font-size: 13px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                                                                                <table border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0" width="100%"
                                                                                       style="border-collapse: collapse; border-spacing:  0; width: 100%; vertical-align: top;">
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            border="0"
                                                                                            style="font-size:  0; word-break: break-word;">
                                                                                            <div class="full"
                                                                                                 style="margin:  0 auto; max-width: 600px;">
                                                                                                <table
                                                                                                        align="center"
                                                                                                        border="0"
                                                                                                        cellpadding="0"
                                                                                                        cellspacing="0"
                                                                                                        class="fullTable"
                                                                                                        style="width: 300px;">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td class="fullTd"
                                                                                                            style="direction: ltr; width: 300px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top; background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                                                                            <table
                                                                                                                    border="0"
                                                                                                                    cellpadding="0"
                                                                                                                    cellspacing="0"
                                                                                                                    width="100%"
                                                                                                                    style="vertical-align: top;">
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="font-size:  0; padding: 10px 20px;">
                                                                                                                        <div class="text"
                                                                                                                             style="font-family: 微软雅黑, 'Microsoft YaHei'; overflow-wrap: break-word; margin:  0; text-align: left; line-height: 20px; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal;">
                                                                                                                            <div>
                                                                                                                                <p
                                                                                                                                        style="text-size-adjust: none; word-break: break-word; line-height: 20px; font-size: 14px; margin:  0;">
                                                                                                                                                <span
                                                                                                                                                        style="color: #222222;">Start
                                                                                                                                                    Date:
                                                                                                                                                    {{.Start}}</span>
                                                                                                                                </p>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                            <div class="mj-column-per-20"
                                                                                 style="width: 100%; max-width: 100%; font-size: 13px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                                                                                <table border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0" width="100%"
                                                                                       style="border-collapse: collapse; border-spacing:  0; width: 100%; vertical-align: top;">
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            border="0"
                                                                                            style="font-size:  0; word-break: break-word;">
                                                                                            <div class="full"
                                                                                                 style="margin:  0 auto; max-width: 600px;">
                                                                                                <table
                                                                                                        align="center"
                                                                                                        border="0"
                                                                                                        cellpadding="0"
                                                                                                        cellspacing="0"
                                                                                                        class="fullTable"
                                                                                                        style="width: 300px;">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td class="fullTd"
                                                                                                            style="direction: ltr; width: 300px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top; background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                                                                            <table
                                                                                                                    border="0"
                                                                                                                    cellpadding="0"
                                                                                                                    cellspacing="0"
                                                                                                                    width="100%"
                                                                                                                    style="vertical-align: top;">
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="font-size:  0; padding: 10px 20px;">
                                                                                                                        <div class="text"
                                                                                                                             style="font-family: 微软雅黑, 'Microsoft YaHei'; overflow-wrap: break-word; margin:  0; text-align: left; line-height: 20px; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal;">
                                                                                                                            <div>
                                                                                                                                <p
                                                                                                                                        style="text-size-adjust: none; word-break: break-word; line-height: 20px; font-size: 14px; margin:  0;">
                                                                                                                                                <span
                                                                                                                                                        style="color: #222222;">End
                                                                                                                                                    Date:
                                                                                                                                                    {{.End}}</span>
                                                                                                                                </p>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                            <div class="mj-column-per-20"
                                                                                 style="width: 100%; max-width: 100%; font-size: 13px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                                                                                <table border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0" width="100%"
                                                                                       style="border-collapse: collapse; border-spacing:  0; width: 100%; vertical-align: top;">
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            border="0"
                                                                                            style="font-size:  0; word-break: break-word;">
                                                                                            <div class="full"
                                                                                                 style="margin:  0 auto; max-width: 600px;">
                                                                                                <table
                                                                                                        align="center"
                                                                                                        border="0"
                                                                                                        cellpadding="0"
                                                                                                        cellspacing="0"
                                                                                                        class="fullTable"
                                                                                                        style="width: 300px;">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td class="fullTd"
                                                                                                            style="direction: ltr; width: 300px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top; background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                                                                            <table
                                                                                                                    border="0"
                                                                                                                    cellpadding="0"
                                                                                                                    cellspacing="0"
                                                                                                                    width="100%"
                                                                                                                    style="vertical-align: top;">
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="font-size:  0; padding: 10px 20px;">
                                                                                                                        <div class="text"
                                                                                                                             style="font-family: 微软雅黑, 'Microsoft YaHei'; overflow-wrap: break-word; margin:  0; text-align: left; line-height: 20px; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal;">
                                                                                                                            <div>
                                                                                                                                <p
                                                                                                                                        style="text-size-adjust: none; word-break: break-word; line-height: 20px; font-size: 14px; margin:  0;">
                                                                                                                                                <span style="color: #222222;">Space Name: {{.SpaceName}}</span>
                                                                                                                                </p>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td class="twoColumn column2"
                                                            style="width: 50%; max-width: 50%; min-height: 1px; font-size: 13px; text-align: left; direction: ltr; vertical-align: top; padding:  0;">
                                                            <div columnnumber="2">
                                                                <table align="center" border="0" cellpadding="0"
                                                                       cellspacing="0" style="width: 100%;">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td
                                                                                style="direction: ltr; font-size:  0; text-align: center; vertical-align: top; border:  0;">
                                                                            <div class="mj-column-per-33"
                                                                                 style="width: 100%; max-width: 100%; font-size: 13px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                                                                                <table border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0" width="100%"
                                                                                       style="border-collapse: collapse; border-spacing:  0; width: 100%; vertical-align: top;">
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            border="0"
                                                                                            style="font-size:  0; word-break: break-word;">
                                                                                            <div class="full"
                                                                                                 style="margin:  0 auto; max-width: 600px;">
                                                                                                <table
                                                                                                        align="center"
                                                                                                        border="0"
                                                                                                        cellpadding="0"
                                                                                                        cellspacing="0"
                                                                                                        class="fullTable"
                                                                                                        style="width: 300px;">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td class="fullTd"
                                                                                                            style="direction: ltr; width: 300px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top; background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                                                                            <table
                                                                                                                    border="0"
                                                                                                                    cellpadding="0"
                                                                                                                    cellspacing="0"
                                                                                                                    width="100%"
                                                                                                                    style="vertical-align: top;">
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="font-size:  0; padding: 10px 20px;">
                                                                                                                        <div class="text"
                                                                                                                             style="font-family: 微软雅黑, 'Microsoft YaHei'; overflow-wrap: break-word; margin:  0; text-align: left; line-height: 20px; color: rgb(0, 0, 0); font-size: 15px; font-weight: normal;">
                                                                                                                            <div>
                                                                                                                                <p
                                                                                                                                        style="text-size-adjust: none; word-break: break-word; line-height: 20px; font-size: 15px; margin:  0;">
                                                                                                                                    <strong
                                                                                                                                            style="color: #222222;">CONTENT
                                                                                                                                        SUMMARY:</strong>
                                                                                                                                </p>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                            <div class="mj-column-per-33"
                                                                                 style="width: 100%; max-width: 100%; font-size: 13px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                                                                                <table border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0" width="100%"
                                                                                       style="border-collapse: collapse; border-spacing:  0; width: 100%; vertical-align: top;">
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            border="0"
                                                                                            style="font-size:  0; word-break: break-word;">
                                                                                            <div class="full"
                                                                                                 style="margin:  0 auto; max-width: 600px;">
                                                                                                <table
                                                                                                        align="center"
                                                                                                        border="0"
                                                                                                        cellpadding="0"
                                                                                                        cellspacing="0"
                                                                                                        class="fullTable"
                                                                                                        style="width: 300px;">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td class="fullTd"
                                                                                                            style="direction: ltr; width: 300px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top; background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                                                                            <table
                                                                                                                    border="0"
                                                                                                                    cellpadding="0"
                                                                                                                    cellspacing="0"
                                                                                                                    width="100%"
                                                                                                                    style="vertical-align: top;">
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="font-size:  0; padding:  0 20px;">
                                                                                                                        <div class="text"
                                                                                                                             style="font-family: 微软雅黑, 'Microsoft YaHei'; overflow-wrap: break-word; margin:  0; text-align: left; line-height: 12px; color: rgb(0, 0, 0); font-size: 14px; font-weight: normal;">
                                                                                                                            <div>
                                                                                                                                <p style="text-size-adjust: none; word-break: break-word; line-height: 12px; font-size: 14px; margin:  0;">
                                                                                                                                    {{.Title}}
                                                                                                                                </p>
                                                                                                                                <p
                                                                                                                                        style="text-size-adjust: none; word-break: break-word; line-height: 12px; font-size: 14px; margin:  0;">
                                                                                                                                    &nbsp;
                                                                                                                                </p>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                            <div class="mj-column-per-33"
                                                                                 style="width: 100%; max-width: 100%; font-size: 13px; text-align: left; direction: ltr; display: inline-block; vertical-align: top;">
                                                                                <table border="0"
                                                                                       cellpadding="0"
                                                                                       cellspacing="0" width="100%"
                                                                                       style="border-collapse: collapse; border-spacing:  0; width: 100%; vertical-align: top;">
                                                                                    <tr>
                                                                                        <td align="center"
                                                                                            border="0"
                                                                                            style="font-size:  0; word-break: break-word;">
                                                                                            <div class="full"
                                                                                                 style="margin:  0 auto; max-width: 600px;">
                                                                                                <table
                                                                                                        align="center"
                                                                                                        border="0"
                                                                                                        cellpadding="0"
                                                                                                        cellspacing="0"
                                                                                                        class="fullTable"
                                                                                                        style="width: 300px;">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td class="fullTd"
                                                                                                            style="direction: ltr; width: 300px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top; background-repeat: no-repeat; background-size: 100px; background-position: 10% 50%;">
                                                                                                            <table
                                                                                                                    border="0"
                                                                                                                    cellpadding="0"
                                                                                                                    cellspacing="0"
                                                                                                                    width="100%"
                                                                                                                    style="vertical-align: top;">
                                                                                                                <tr>
                                                                                                                    <td align="left"
                                                                                                                        style="font-size:  0; padding: 3px 20px;">
                                                                                                                        <div class="text"
                                                                                                                             style="font-family: 微软雅黑, 'Microsoft YaHei'; overflow-wrap: break-word; margin:  0; text-align: left; line-height: 1.6; color: rgb(102, 102, 102); font-size: 14px; font-weight: normal;">
                                                                                                                            <div>
                                                                                                                                <p style="text-size-adjust: none; word-break: break-word; line-height: 1.6; font-size: 14px; margin:  0;">
                                                                                                                                    {{.Body}}
                                                                                                                                </p>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="full" tindex="5" style="margin:  0 auto; max-width: 600px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullTable"
                                           style="width: 600px;">
                                        <tbody>
                                        <tr>
                                            <td class="fullTd"
                                                style="direction: ltr; width: 600px; font-size:  0; padding-bottom:  0; text-align: center; vertical-align: top;">
                                                <div style="display: inline-block; vertical-align: top; width: 100%;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                           style="vertical-align: top;">
                                                        <tr>
                                                            <td
                                                                    style="font-size:  0; word-break: break-word; width: 600px; text-align: center; padding:  0;">
                                                                <div><img height="auto" alt="Snapshot.org"
                                                                          width="auto"
                                                                          src="https://gblobscdn.gitbook.com/spaces/-MG4Ulnnabb2Xz3Lei9_/avatar-1602311890000.png?alt=media"
                                                                          style="box-sizing: border-box; border:  0; display: inline-block; outline: none; text-decoration: none; height: auto; width: auto; max-width: 100%; padding:  0;">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="full" tindex="6" style="margin:  0 auto; max-width: 600px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" class="fullTable"
                                           style="width: 600px;">
                                        <tbody>
                                        <tr>
                                            <td align="center" vertical-align="middle"
                                                style="font-size:  0; word-break: break-word; width: 600px; padding: 15px 20px; background-size: 100px; background-position: 10% 50%; background-repeat: no-repeat;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0"
                                                       style="border-collapse: separate; line-height: 1;">
                                                    <tr>
                                                        <td align="center" valign="middle"
                                                            style="line-height: 1; background-color: rgb(0, 0, 0); padding: 10px 50px; border-radius: 5px; border-width: 1px; border-color: transparent; border-style: solid;">
                                                            <a target="_blank" href="https://discord.snapshot.org/"
                                                               style="font-size:  0; text-decoration: none;">
                                                                <p
                                                                        style="font-family: 微软雅黑, 'Microsoft YaHei'; margin:  0; color: rgb(255, 255, 255); line-height: 1; font-size: 20px; font-weight: normal; text-decoration: none; text-transform: none;">
                                                                    <span>Contact&nbsp;Us</span></p>
                                                            </a></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
    </table>
    </body>
</html>